html,
body {
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(5, 1fr);
}

#container div {
    background-color: #dfaf37;
    margin: 5px;
}

#title {
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  flex-direction: row;
}

#content {
  grid-row: 2/2;
  grid-column: 1/5;
}

#control {
  grid-row: 2/2;
  grid-column: 5 / 6;
}
