html,
body {
  height: 100%;
  margin: 0;
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(5, 1fr);
}

#container div {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  background-color: #1565c0;
  grid-column-start: 1;
  grid-column-end: 6;
  border: solid 2px black;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

#content {
  grid-row: 2/2;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  font-size: 1.125em;
}

#control {
  background-color: #003c8f;
  border: solid 2px black;
  border-radius: 2px;
  grid-row: 2/2;
  grid-column: 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

table,
td,
th {
  border: solid 2px black;
  border-collapse: collapse;
}

.Radiant {
  background-color: #00c853;
}

.Dire {
  background-color: #d50000;
  color: white;
}

@media (max-width: 600px) {
  #control {
    display: none;
  }
  tr th:nth-child(even),
  tr td:nth-child(even) {
    display: none;
  }

  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: none;
  }
}
